.navbar-contenedor {
  height: 90px;
  background-color: #2dc880;
  display: flex;
  min-width: 1000px;
}

.navbar-logo {
  display: flex;
  font-family: 'Audiowide', cursive;
  width: 300px;
  background-color: #004d66;
  color: white;
  align-items: center;
}

.navbar-logo a {
  text-decoration: none; 
  color: inherit;
  outline: none; 
}

.navbar-logo h1 {
  margin: 0 30px 10px;
  font-weight: lighter;
  font-size: 4.2em;
}



.navbar-opciones {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.opciones-navegar {
  display: flex;
  height: 100%;
  list-style: none;
}
.opcion-navegar {
  font-family: 'Play', sans-serif;
  display: flex;
  padding: 0 20px;
  border-right: rgb(20, 20, 20) 1px solid;
  align-items: center;
  justify-content: center;
  font-size: 2.1em;
}
.opcion-navegar--borde {
  border-right: none;
  border-left: rgb(20, 20, 20) 1px solid;
}

.img-unab {
  height: 70px;
}