a {
  text-decoration: none; 
  color: inherit;
  outline: none; 
}
.navbar-contenedor {
  height: 90px;
  background-color: #2dc880;
  display: flex;
  min-width: 1000px;
}

.navbar-logo {
  display: flex;
  font-family: 'Audiowide', cursive;
  width: 300px;
  background-color: #004d66;
  color: white;
  align-items: center;
}

.navbar-logo h1 {
  margin: 0 30px 10px;
  font-weight: lighter;
  font-size: 4.2em;
}



.navbar-opciones {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.opciones-navegar {
  display: flex;
  height: 100%;
  list-style: none;
}
.opcion-navegar {
  font-family: 'Play', sans-serif;
  display: flex;
  padding: 0 20px;
  
  align-items: center;
  justify-content: center;
  font-size: 2.1em;
}
.opcion-navegar--borde {
  border-right: none;
 
}

.img-unab {
  height: 70px;
}

.opcion-navegar-buscar {
  background-color: #0e8c8d;
}

.opcion-navegar-empresas {
  background-color: #11a190;
}

.opcion-navegar-registro {
  background-color: #11a090;
  padding: 0;
}

.opcion-navegar-logo{
  background-color: #0e8c8d;
}
.btn-secondary{
  height: 100%;
  padding: 0 20px;
  background-color: #11a190;
  border: none;
 cursor: pointer;
}
.opcion-navegar-nombre{
  font-size: 2.1em;
}
.dropdown{
  height: 100%;
  width: 100%;
}
.opcion-navegar-sesion{
  padding: 0 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
