.empresa-todo {
  margin-left: 40px;
  margin-right: 40px;
}
.empresa-barra {
  height: 150px;
  width: 100%;
  display: flex;
}
.empresa-barra-nombre {
 display: flex;
 width: 800px;
 height: 100%;
 background-color: #efffe1;
  justify-content: center;
  align-items: center;
}
.empresa-barra-nombre p{
  font-size: 5em;
  font-family: 'Play', sans-serif;;
  font-weight: bolder;
  padding-left: 50px;
}
.empresa-barra-nombre-img{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  margin-left: 20px;
}
.empresa-barra-nombre-img img{
  height: 100%;
}
.empresa-barra-info {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #bcd3a7;
  justify-content: flex-start;
  align-items: center;
}
.empresa-barra-info-direcciones{
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.empresa-barra-info-direcciones p{
  font-size: 1.3em;
  color: #3b4e2a;
  font-weight: bold;
  font-family: 'Play', sans-serif;
}
.empresa-barra-info-puntuacion {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
.empresa-descripcion{
  
  width: 100%;
  height: auto;
  position: relative;
}

.empresa-descripcion p {
  padding: 5px;
  color: #047094;
  margin-top: 10px;
  font-size: 1.3em;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  font-weight: 700;
}

.empresa-ofertas {
  width: 100%;
}
.empresa-ofertas-departamento {
  margin: 5px;
  margin-bottom: 15px;
  color: #047094;
  font-size: 1.8em;
  font-weight: bold;
  background-color: #efffe1;
  cursor: pointer;
  
}
.titulo {
  border-bottom: 3px solid #075269;
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
}
.icono {
  font-size: 1.3em;
  padding-right: 10px;
}
.empresa-ofertas-departamento-oferta{
  padding: 5px;
  border-bottom: 3px solid #5f9497;
}
.empresa-ofertas-departamento-oferta:hover{
  background-color: #bcd3a7;
  transition: 0.15s;
}

.figura {
  display: flex;
  background-color: #166a85;
  text-align: center;
  justify-content: center;
  width: auto;
  height: 25px;
  margin-right: 20px;
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 25% 100%, 0 51%);
}
.figura p{
  color: white;
  padding-left: 10px ;
  padding-top: 2px;
  margin: 0 10px;
}


.icon-postulacion{
  margin-bottom: 7px;
}
.empresa-comentarios-contenido{
  width: 100%;
  background-color: #efffe1;
  display: flex;
  border-bottom: 1px solid #075269;
  padding: 8px;
  padding-bottom: 20px;
  justify-content: space-between;
}
.empresa-comentarios-contenido-p1{
  display: flex;
}
.empresa-comentarios-inicio{
  display: flex;
  align-items: center;
}
.empresa-comentarios-titulo-agregar{
  margin-left: 20px;
  font-size: 2em;
  cursor: pointer;
}
.empresa-comentarios-contenido-imagen{
  height: 100px;
  width: 100px;
  align-self: center;
  margin-right: 10px;
  margin-left: 5px;
}
.empresa-comentarios-contenido-informacion-nombre{
  margin:0;
  font-size: 1.7em;
}
.empresa-comentarios-contenido-informacion-descripcion{
  font-size: 1.2em;
  margin-left: 15px;
}
.empresa-comentarios-contenido-estrellas{
  white-space: nowrap;
}
.empresa-comen{
  display: flex;
  flex-direction: column;
}
.empresa-comentar{
  margin-bottom: 10px;
}
.comentar-estrellas{
  cursor: pointer;
}

.empresa-comentarios-contenido-informacion--width{
  width: 100%;
}
.empresa-comentarios-contenido-informacion--foto{
  justify-content: start;
  align-items: start;
  align-self: inherit;
}
.empresa-barra-info-puntuacion-comentario{
  cursor: pointer;
}
.empresa-comentar-comentario{
  margin-top: 7px;
  width: 99%;
  resize: none;
  outline: none;
  height:200px;
  font-size: 1.2em;
  color: #003b4e;
  padding: 3px;
  border: 1px solid  #cccccc;
  font-family: 'Play', sans-serif;
  overflow: scroll;
}
.empresa-comentar-publicar{
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.empresa-comentar-publicar-boton{
  background-color: #53cbbe;
  cursor: pointer;
  border: none;
  padding: 5px 25px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Prompt', sans-serif;
  color: #003b4e;
  margin-top: 50px;
  margin-right: 10px;
}
.empresa-comentar-publicar-boton:hover{
  background-color: #42a198;
  transition: 0.2s;
}
.empresa-comentarios-contenido-imagen-comentarios{
  height: 100px;
  width: 100px;
 
  margin-right: 10px;
  margin-left: 5px;
}